<div class="container">
  <h1 id = "greeting">Welcome to the TaskManager!</h1>
  <div class = 'row'>
    <ul>
      <li class = 'col 6'><a href = "/tasks" class = "waves-effect waves-light btn-large">View Your Tasks</a>
      <li class = 'col 6'><a href = "/tasks/new" class = "waves-effect waves-light btn-large">Create a New Task</a>
    </ul>
  </div>
</div>
